@using TapNGoMVC.ViewModels
@model AdminMenuVM

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="category-buttons">
    @foreach (var cat in Model.Categories)
    {
        <a asp-action="Index" asp-route-categoryId="@cat.Id"
           class="btn @(Model.SelectedCategoryId == cat.Id ? "btn-dark" : "btn-light") m-1">
            @cat.Name
        </a>
    }
</div>

<div class="menu-items mt-3">
    @foreach (var item in Model.MenuItems)
    {
        <div class="card mb-2 p-2 d-flex flex-row align-items-center" style="cursor: pointer;"
                onclick = "location.href='@Url.Action("Edit", new { id = item.Id})'">
            @if (!string.IsNullOrEmpty(item.ImageUrl))
            {
                <img src="@item.ImageUrl" alt="Menu Item Image" style="width: 100px;" class="me-3" />
            }
            <div>
                <h5>@item.Name - @item.Price €</h5>
                <p>Opis: @item.Description</p>
            </div>
            <div class="ms-auto">
                <form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="event.stopPropagation();" style="display:inline;">
                    <button type="submit" class="btn btn-danger" style="height: 50px;">X</button>
                </form>
            </div>
        </div>
    }
</div>

<a asp-action="Create" asp-route-categoryId="@Model.SelectedCategoryId" style="position: fixed; bottom: 60px;" class="btn btn-success mt-3">Dodaj stavku</a>
